<%-include ("./Include/Admin/head.ejs")%>

  <body>
    <%-include ("./Include/Admin/header.ejs")%>
      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link " href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->

      <main id="main" class="main">
        <section class="section dashboard">
          <div class="row">
            <!-- Active User Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card active-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Student</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%=student_count%>
                      </h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Active User Card -->

            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Attendee Today</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-file-earmark-spreadsheet"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%=attendance_count%>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Course</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%=degree_count%>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
            <!-- Inactive Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card inactive-user-card">
                <div class="card-body">
                  <h5 class="card-title">Total Section</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>
                        <%=section_count%>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Inactive Card -->
          </div>

          <div class="row">

            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">RECENT NEW USER <a href="/student"
                      class="btn btn-success btn-sm float-end">View
                      All</a></h5>

                  <!-- Table with stripped rows -->
                  <table class="table ">
                    <thead>
                      <tr>

                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Year & Section</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%recent_new_user.forEach((student)=> {%>
                        <tr>
                          <th scope="row">
                            <%=student.student_id%>
                          </th>
                          <td>
                            <%=student.name%>
                          </td>
                          <td>
                            <%=student.degree%>
                              </th>
                          <td>
                            <%=student.year_section%>
                          </td>

                        </tr>
                        <%})%>
                    </tbody>
                  </table>


                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">RECENT ATTENDANCE <a href="/attendance"
                      class="btn btn-success btn-sm float-end">View
                      All</a></h5>

                  <!-- Table with stripped rows -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Event Code</th>
                        <th scope="col">Status</th>

                      </tr>
                    </thead>
                    <tbody>
                      <%recent_attendance.forEach((attendance)=> {%>
                        <tr>

                          <td>
                            <%=attendance.log_date%>
                          </td>
                          <td>
                            <%=attendance.student_id%>
                          </td>
                          <td>
                            <%=attendance.event_code%>
                          </td>
                          <td>
                            <%if (attendance.status==='1' ) {%>
                              <span>TIME IN (AM)</span>
                              <%} else if (attendance.status==='2' ) {%>
                                <span>TIME OUT (AM)</span>
                                <%} else if (attendance.status==='3' ) {%>
                                  <span>TIME IN (AM)</span>
                                  <%} else if (attendance.status==='4' ) {%>
                                    <span>TIME OUT (PM)</span>
                                    <%}%>

                          </td>

                        </tr>
                        <%})%>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->

                </div>
              </div>
            </div>
          </div>
        </section>

      </main>
      <!-- End #main -->




      <%-include ("./Include/Admin/script.ejs")%>
        <script>
          // Start Donut Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#donutChart")).setOption({
              tooltip: {
                trigger: 'item'
              },
              legend: {
                top: '5%',
                left: 'center'
              },
              series: [{
                name: 'Access From',
                type: 'pie',
                radius: ['40%', '70%'],
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center'
                },
                emphasis: {
                  label: {
                    show: true,
                    fontSize: '18',
                    fontWeight: 'bold'
                  }
                },
                labelLine: {
                  show: false
                },
                data: [{
                  value: 1048,
                  name: 'Search Engine'
                },
                {
                  value: 735,
                  name: 'Direct'
                },
                {
                  value: 580,
                  name: 'Email'
                },
                {
                  value: 484,
                  name: 'Union Ads'
                },
                {
                  value: 300,
                  name: 'Video Ads'
                }
                ]
              }]
            });
          });
          // End Donut Chart

          // Start Vertical Bar Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#verticalBarChart")).setOption({

              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
              legend: {},
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
              },
              yAxis: {
                type: 'category',
                data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
              },
              series: [{
                name: '2011',
                type: 'bar',
                data: [18203, 23489, 29034, 104970, 131744, 630230]
              },
              {
                name: '2012',
                type: 'bar',
                data: [19325, 23438, 31000, 121594, 134141, 681807]
              }
              ]
            });
          });
          // End Vertical Bar Chart

          // Start Area Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#areaChart")).setOption({
              xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
              },
              yAxis: {
                type: 'value'
              },
              series: [{
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: 'line',
                smooth: true,
                areaStyle: {}
              }]
            });
          });
          // End Area Chart

          // Start Bar Chart
          document.addEventListener("DOMContentLoaded", () => {
            echarts.init(document.querySelector("#barChart")).setOption({
              xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
              },
              yAxis: {
                type: 'value'
              },
              series: [{
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar'
              }]
            });
          });
    // End Bar Chart
        </script>


  </body>

  </html>