<%-include ("./Include/Admin/head.ejs")%>

  <body>

    <%-include ("./Include/Admin/header.ejs")%>

      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <div class="main" id="main">
        <div class="pagetitle">
          <h1>View Event</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item"><a href="/event">Event Management</a></li>
       
              <li class="breadcrumb-item active">View Event</li>
            </ol>
          </nav>
        </div>
        <section class="section student">
         
          <div class="row">

            <div class="card mb-3">
              <div class="card-body">

                <h5 class="card-title">Event Name:
                  <%=event_record.event_name%>
                </h5>
                <div class="row">
                  <div class="col-md-4">
                    <p class="fw-bold">Event Code: <%=event_record.event_code%>
                    </p>

                    <p class="mb-1">Type:
                      <%=event_record.attendance_type%>
                    </p>
                    <p class="mb-1">Date:
                      <%=event_record.event_date%>
                    </p>
                  </div>
                  <div class="col-md-4">

                    <p class="fw-bold">Morning</p>
                    <p class="mb-1">Time In: <%=event_record.time_in_am_start%> to <%=event_record.time_in_am_end%>
                    </p>
                    <p class="mb-1">Time Out: <%=event_record.time_out_am_start%> to <%=event_record.time_out_am_end%>
                    </p>
                  </div>
                  <div class="col-md-4">
                    <p class="fw-bold">Afternoon</p>
                    <p class="mb-1">Time In: <%=event_record.time_in_pm_start%> to <%=event_record.time_in_pm_end%>
                    </p>
                    <p class="mb-1">Time Out: <%=event_record.time_out_pm_start%> to <%=event_record.time_out_pm_end%>
                    </p>
                  </div>
                </div>




              </div>
            </div>



          </div>
          <div class="row">
            <div class="card">
              <div class="card-body">

                <h5 class="card-title">Attendance Record</h5>
                <div class="btn-container">
                  <button type="button" class="btn btn-success btn-sm mb-2" data-bs-toggle="modal"
                    data-bs-target="#btnAttendance">
                    Download
                  </button>
                  <div class="modal fade" id="btnAttendance" tabindex="-1" aria-labelledby="btnAttendanceLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="btnAttendanceLabel">Download Attendance:</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <%degree.forEach((degrees)=> {%>


                            <a class="btn btn-success btn-sm me-1 mb-2"
                              href="/downloadExcel/degree=<%=degrees.degree%>&event_code=<%=event_record.event_code%>&year_section=<%=degrees.year_section%>">
                              <%=degrees.degree%>
                                <%=degrees.year_section%>
                            </a>

                            <%})%>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Modal -->

                <div class="table-responsive-md">

                  <!-- Button trigger modal -->



                  <table id="attendanceTable" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Degree</th>
                        <th>Name</th>
                        <th>Student Number</th>
                        <th>Time In (AM)</th>
                        <th>Time Out (AM)</th>
                        <th>Time In (PM)</th>
                        <th>Time Out (PM)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%attendance_record.forEach((attendance)=> {%>
                        <tr>
                          <td>
                            <%=attendance.degree%>
                          </td>
                          <td>
                            <%=attendance.name%>
                          </td>
                          <td>
                            <%=attendance.student_id%>
                          </td>
                          <td>
                            <%=attendance.time_in_am%>
                          </td>
                          <td>
                            <%=attendance.time_out_am%>
                          </td>
                          <td>
                            <%=attendance.time_in_pm%>
                          </td>
                          <td>
                            <%=attendance.time_out_pm%>
                          </td>
                        </tr>
                        <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


      <%-include ("./Include/Admin/script.ejs")%>
        <script>

          $(document).ready(function () {
            $('#attendanceTable').DataTable({

            });
          });




        </script>
  </body>

  </html>