<%-include ("./Include/Admin/head.ejs")%>

  <body>

    <%-include ("./Include/Admin/header.ejs")%>

      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <div class="main" id="main">
        <section class="section student">


          <div class="row">
            <div class="card">
              <div class="card-body">

                <h5 class="card-title">Event List <a href="/event_new" class="btn btn-sm btn-success float-end">New
                    Event
                  </a></h5>
                <div class="table-responsive-md">


                  <table id="attendanceTable" class="table table-bordered">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Date</th>
                        <th>Event Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%event_record.forEach((events)=> {%>
                        <tr>
                          <th>
                            <%=events.event_id%>
                          </th>
                          <td>
                            <%=events.event_date%>
                          </td>
                          <td>
                            <%=events.event_name%>
                          </td>
                          <td>
                            <small class="fw-bold">Type:
                              <%=events.attendance_type%>
                            </small><br>
                            <small class="fw-bold">Morning</small><br>
                            <small>Time In: <%=events.time_in_am_start%> to <%=events.time_in_am_end%>
                            </small><br>
                            <small>Time Out: <%=events.time_out_am_start%> to <%=events.time_out_am_end%>
                            </small><br>
                            <small class="fw-bold">Afternoon</small><br>
                            <small>Time In: <%=events.time_in_pm_start%> to <%=events.time_in_pm_end%></small><br>
                            <small>Time Out: <%=events.time_out_pm_start%> to <%=events.time_out_pm_end%></small><br>



                          </td>
                          <td>
                            <%if (events.event_date> date) {%>
                              <span class="badge text-bg-warning">Pending</span>
                              <%}else if (events.event_date < date){%>
                                <span class="badge text-bg-success">Done</span>
                                <%} else {%>
                                  <span class="badge text-bg-secondary">On Going</span>
                                  <%}%>
                          </td>

                          <td>
                            <div class="text-center">
                              <div class="dropdown">
                                <a class="text-secondary" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                  <i class="bi bi-three-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/student/"><i class="bi bi-eye"></i>View</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i>Edit</a></li>
                                  <li><button class="dropdown-item text-danger"><i
                                        class="bi bi-trash"></i>Delete</i></button></li>
                                </ul>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>


      <%-include ("./Include/Admin/script.ejs")%>
        <script>

          const Toast = Swal.mixin({
            width: 450,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 5000,
          })

   
          if ('<%-success_msg%>' != '') {

            Toast.fire({
              icon: 'success',
              title: "<%=success_msg%>"
            })

          }
        </script>


  </body>

  </html>