<%-include ("./Include/Admin/head.ejs")%>

  <body>

    <%-include ("./Include/Admin/header.ejs")%>

      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/dashboard">
              <i class="bi bi-columns-gap"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End Dashboard Nav -->
          </li><!-- End Components Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="/student">
              <i class="bi bi-person-circle"></i>
              <span>Student Management</span>
            </a>
          </li><!-- End Error 404 Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" href="/attendance">
              <i class="bi bi-table"></i>

              <span>Attendance Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
          <li class="nav-item">
            <a class="nav-link" href="/event">

              <i class="bi bi-calendar-event"></i>
              <span>Event Management</span>
            </a>
          </li><!-- End Blank Page Nav -->
        </ul>

      </aside><!-- End Sidebar-->
      <div class="main" id="main">
        <section class="section student">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/event"><i class="bi bi-arrow-left"></i> Go Back</a></li>

            </ol>
          </nav>
          <div class="row">
            <div class="card">
              <div class="card-body">
                <form method="post" action="/event/edit" class="needs-validation" id="form" novalidate>
                  <h5 class="card-title">Edit Event</h5>
                  <div class="col-md-6">
                    <%-include ("./Include/Admin/message.ejs")%>
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <div class="col">
                        <div class="mb-2">
                          <label for="event_code" class="form-label fw-bold">Event Code</label>
                          <input type="text" class="form-control" id="event_code" name="event_code"
                            oninput="this.value = this.value.toUpperCase()" value="<%=event_record.event_code%>"
                            readonly>
                          <div class="invalid-feedback">

                          </div>
                        </div>

                      </div>
                      <div class="col">
                        <div class="mb-2">
                          <label for="event_date" class="form-label fw-bold">Event Date</label>
                          <input type="date" class="form-control" id="event_date" name="event_date"
                            value="<%=event_record.event_date%>" readonly>
                          <div class="invalid-feedback">

                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                  <div class="col-md-6">
                    <div class="mb-2">
                      <label for="event_name" class="form-label fw-bold">Event Name</label>
                      <input type="text" class="form-control" id="event_name" name="event_name"
                        oninput="this.value = this.value.toUpperCase()" value="<%=event_record.event_name%>" required>
                      <div class="invalid-feedback">

                      </div>
                    </div>


                  </div>

                  <div class="col-md-6 mb-2">

                    <label for="attendance_type" class="form-label fw-bold">Attendance Type</label>
                    <select id="select_attendance" onchange="getval(this)" class="form-select" name="attendance_type"
                      required>


                      <option value="WholeDay">Whole Day</option>
                      <option value="MorningOnly">Morning Only</option>
                      <option value="AfternoonOnly">Afternoon Only</option>
                    </select>

                  </div>
                  <div class="col-md-6 mb-3">

                    <div id="morning_only" class="mb-2">

                      <div class="row">
                        <div class="col-md-6">
                          <label for="time_in_am_start" class="form-label fw-bold">Time In Start (AM)</label>
                          <input type="time" min="00:00" max="11:59" class="form-control" id="time_in_am_start"
                            name="time_in_am_start" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>

                        <div class="col-md-6">
                          <label for="time_in_am_end" class="form-label fw-bold">Time In End (AM)</label>
                          <input type="time" min="00:00" max="11:59" class="form-control" id="time_in_am_end"
                            name="time_in_am_end" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="time_out_am_start" class="form-label fw-bold">Time Out Start (AM)</label>
                          <input type="time" min="00:00" max="11:59" class="form-control" id="time_out_am_start"
                            name="time_out_am_start" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="time_out_am_end" class="form-label fw-bold">Time Out End (AM)</label>
                          <input type="time" min="00:00" max="11:59" class="form-control" id="time_out_am_end"
                            name="time_out_am_end" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="afternoon_only" class="mb-2">

                      <div class="row">
                        <div class="col-md-6">
                          <label for="time_in_pm_start" class="form-label fw-bold">Time In Start (PM)</label>
                          <input type="time" min="12:00" max="24:00" class="form-control" id="time_in_pm_start"
                            name="time_in_pm_start" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="time_in_pm_end" class="form-label fw-bold">Time In End (PM)</label>
                          <input type="time" min="12:00" max="24:00" class="form-control" id="time_in_pm_end"
                            name="time_in_pm_end" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="time_out_pm_start" class="form-label fw-bold">Time Out Start (PM)</label>
                          <input type="time" min="12:00" max="24:00" class="form-control" id="time_out_pm_start"
                            name="time_out_pm_start" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="time_out_pm_end" class="form-label fw-bold">Time Out End (AM)</label>
                          <input type="time" min="12:00" max="24:00" class="form-control" id="time_out_pm_end"
                            name="time_out_pm_end" required>

                          <div class="invalid-feedback">

                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-success" value="Add Event">
                  </div>
                </form>
              </div>
            </div>
          </div>

        </section>
      </div>


      <%-include ("./Include/Admin/script.ejs")%>

        <script>
          $(function () {
            document.getElementById("select_attendance").value = '<%-event_record.attendance_type%>';

            if ('<%-event_record.attendance_type%>' === "WholeDay") {
              document.getElementById("time_in_am_start").removeAttribute("disabled");
              document.getElementById("time_in_am_end").removeAttribute("disabled");
              document
                .getElementById("time_out_am_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_am_end").removeAttribute("disabled");

              document.getElementById("time_in_pm_start").removeAttribute("disabled");
              document.getElementById("time_in_pm_end").removeAttribute("disabled");
              document
                .getElementById("time_out_pm_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_pm_end").removeAttribute("disabled");

              document.getElementById("morning_only").style.display = "block";
              document.getElementById("afternoon_only").style.display = "block";
            } else if ('<%-event_record.attendance_type%>' === "MorningOnly") {
              document.getElementById("time_in_am_start").removeAttribute("disabled");
              document.getElementById("time_in_am_end").removeAttribute("disabled");
              document
                .getElementById("time_out_am_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_am_end").removeAttribute("disabled");

              document
                .getElementById("time_in_pm_start")
                .setAttribute("disabled", "");
              document.getElementById("time_in_pm_end").setAttribute("disabled", "");
              document
                .getElementById("time_out_pm_start")
                .setAttribute("disabled", "");
              document.getElementById("time_out_pm_end").setAttribute("disabled", "");

              document.getElementById("morning_only").style.display = "block";
              document.getElementById("afternoon_only").style.display = "none";
            } else if ('<%-event_record.attendance_type%>' === "AfternoonOnly") {
              document
                .getElementById("time_in_am_start")
                .setAttribute("disabled", "");
              document.getElementById("time_in_am_end").setAttribute("disabled", "");
              document
                .getElementById("time_out_am_start")
                .setAttribute("disabled", "");
              document.getElementById("time_out_am_end").setAttribute("disabled", "");

              document.getElementById("time_in_pm_start").removeAttribute("disabled");
              document.getElementById("time_in_pm_end").removeAttribute("disabled");
              document
                .getElementById("time_out_pm_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_pm_end").removeAttribute("disabled");

              document.getElementById("morning_only").style.display = "none";
              document.getElementById("afternoon_only").style.display = "block";
            }
          }
          );

          function getval(el) {


            if (el.value === "WholeDay") {
              document.getElementById("time_in_am_start").removeAttribute("disabled");
              document.getElementById("time_in_am_end").removeAttribute("disabled");
              document
                .getElementById("time_out_am_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_am_end").removeAttribute("disabled");

              document.getElementById("time_in_pm_start").removeAttribute("disabled");
              document.getElementById("time_in_pm_end").removeAttribute("disabled");
              document
                .getElementById("time_out_pm_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_pm_end").removeAttribute("disabled");

              document.getElementById("morning_only").style.display = "block";
              document.getElementById("afternoon_only").style.display = "block";
            } else if (el.value === "MorningOnly") {
              document.getElementById("time_in_am_start").removeAttribute("disabled");
              document.getElementById("time_in_am_end").removeAttribute("disabled");
              document
                .getElementById("time_out_am_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_am_end").removeAttribute("disabled");

              document
                .getElementById("time_in_pm_start")
                .setAttribute("disabled", "");
              document.getElementById("time_in_pm_end").setAttribute("disabled", "");
              document
                .getElementById("time_out_pm_start")
                .setAttribute("disabled", "");
              document.getElementById("time_out_pm_end").setAttribute("disabled", "");

              document.getElementById("morning_only").style.display = "block";
              document.getElementById("afternoon_only").style.display = "none";
            } else if (el.value === "AfternoonOnly") {
              document
                .getElementById("time_in_am_start")
                .setAttribute("disabled", "");
              document.getElementById("time_in_am_end").setAttribute("disabled", "");
              document
                .getElementById("time_out_am_start")
                .setAttribute("disabled", "");
              document.getElementById("time_out_am_end").setAttribute("disabled", "");

              document.getElementById("time_in_pm_start").removeAttribute("disabled");
              document.getElementById("time_in_pm_end").removeAttribute("disabled");
              document
                .getElementById("time_out_pm_start")
                .removeAttribute("disabled");
              document.getElementById("time_out_pm_end").removeAttribute("disabled");

              document.getElementById("morning_only").style.display = "none";
              document.getElementById("afternoon_only").style.display = "block";
            }
          }
          
          const convertTime12to24 = (time12h) => moment(time12h, 'hh:mm A').format('HH:mm');

          document.getElementById("time_in_am_start").value = convertTime12to24(
            "<%-event_record.time_in_am_start%>"
          );
          document.getElementById("time_in_am_end").value = convertTime12to24(
            "<%-event_record.time_in_am_end%>"
          );
          document.getElementById("time_out_am_start").value = convertTime12to24(
            "<%-event_record.time_out_am_start%>"
          );
          document.getElementById("time_out_am_end").value = convertTime12to24(
            "<%-event_record.time_out_am_end%>"
          );

          document.getElementById("time_in_pm_start").value = convertTime12to24(
            "<%-event_record.time_in_pm_start%>"
          );
          document.getElementById("time_in_pm_end").value = convertTime12to24(
            "<%-event_record.time_in_pm_end%>"
          );
          document.getElementById("time_out_pm_start").value = convertTime12to24(
            "<%-event_record.time_out_pm_start%>"
          );
          document.getElementById("time_out_pm_end").value = convertTime12to24(
            "<%-event_record.time_out_pm_end%>"
          );</script>


  </body>

  </html>